<div class="pvl panel panel-message">
  <div class="panel-body type-em-4 txt-m">
    <%= @used_data %> MB of <%= @quota %> MB used.
  </div>
</div>

<% if @over_quota %>
  <div class="pvl panel panel-message">
    <div class="panel-body panel-text txt-m">
      Warning: Write permissions have been revoked due to storage utilization
      exceeding the plan quota. Read and delete permissions remain enabled.
      Write permissions will be restored when storage utilization has been
      reduced to below the plan quota.
    </div>
  </div>
<% end %>
