<p>
  This application requires the following permissions:
  <ul>
    <li> View details of your applications and services </li>
    <li> Access your profile data including your email address </li>
  </ul>
  <a href="<%= Configuration.manage_user_profile_url %>">Manage third-party access</a>
</p>