<!DOCTYPE html>
<html>
    <head>
      <title>MySQL Management Dashboard</title>
      <%= favicon_link_tag %>
      <%= stylesheet_link_tag    "application", media: "all" %>
    </head>
    <body>
      <div class="container-gmajor">
        <div class="main-wrapper services-main-wrapper">
          <div class="header pvl phxl teal-text">
              Pivotal CF Services
          </div>

          <div class="services-container">
            <div class="header-container pvm">
              <img src="<%= image_path "icon-PivotalMySQLDev.png" %>">
              <span class="phm">
                Pivotal™ <strong>MySQL Dev</strong>
              </span>
            </div>

            <%= yield %>
          </div>
        </div>
      </div>
    </body>
</html>
